footer {
    display: block; /* Ensure the footer is initially displayed */
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  footer div {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  footer a {
    color: #333;
    text-decoration: none;
  }
  