body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: url('/src/components/assets/background.jpeg') no-repeat center center fixed;
  background-size: cover;
}

.main-content {
  min-height: 100vh; /* Ensure the content covers the full height of the viewport */
  padding: 20px; /* Adjust as needed */
}
